/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.xml

!/storage/
/storage/*

!/storage/app/

!/storage/framework/
/storage/framework/*

!/storage/framework/cache/data/
/storage/framework/cache/data/*

!/storage/logs/
/storage/logs/*

/storage/*.key
/vendor

.idea/
*.xml
*.iml
.idea/php.xml
.idea/QA.iml
.idea/workspace.xml
