/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/workspace.xml
*.xml
.idea/workspace.xml
storage/debugbar/Xfbc8f19b04c29a0c97d0e96f2a76c196.json
