// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.status {
  &.unanswered {
    border: none;
  }

  &.answered {
    border: 1px solid $color-green;
    color: $color-green;
  }

  &.answered-accepted {
    background: $color-green;
    color: $color-white;
  }
}

.view {
  margin-top: 10px;
}